<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="rocketfuel" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Rocketfuel Payment Gateway</label>
                <field id="callback_url" translate="label comment" sortOrder="1" type="label" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Callback url</label>
                  
 
                    <frontend_model>RKFL\Rocketfuel\Block\System\Config\Form\Field\Webhook</frontend_model>

                </field>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="rocketfuel_merchant_id" translate="label comment" sortOrder="1" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Rocketfuel merchant ID</label>
                    <validate>required-entry</validate>

                </field>
                <field id="rocketfuel_merchant_public_key" translate="label comment" sortOrder="1" type="textarea" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Rocketfuel merchant public key</label>
                  <validate>required-entry</validate>
                </field>
                 <field id="rocketfuel_merchant_email" translate="label comment" sortOrder="1" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Rocketfuel merchant email</label>
                    <validate>validate-email</validate>
                </field>
                 <field id="rocketfuel_merchant_password" translate="label comment" sortOrder="1" type="password" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Rocketfuel merchant password</label>
                    <validate>required-entry</validate>

                </field>
            
                <field id="rocketfuel_environment" translate="label comment" sortOrder="1" type="select"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Rocketfuel Working Environment</label>
                    <source_model>RKFL\Rocketfuel\Model\EnvList</source_model>
                    <validate>no-whitespace</validate>
                </field>
            </group>
        </section>
    </system>
</config>
